
.btn {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid rgb(162 159 159);
  color: rgb(162 159 159);
  padding: 8px 12px;
  background: transparent;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform;
  box-shadow: inset 0 0 8px rgba(#000, 0.2);
  font-size: inherit;

  &:hover {
    transform: scale(1.1);
  }

  &--fill {
    border: none;
    color: #fff;

    &.btn--blue {
      background: var(--neon-blue);
    }

    &.btn--purple {
      background: var(--neon-purple);
    }

    &.btn--red {
      background: var(--neon-red);
    }
  }

  &--blue {
    border: 1.5px solid var(--neon-blue);
    box-shadow: inset 0 0 0.5em 0 var(--neon-blue), 0 0 0.5em 0 var(--neon-blue);

    &:hover {
      box-shadow:
        inset 0 0 0.7em 0 var(--neon-blue),
        0 0 1em 0 var(--neon-blue);
    }

    &:not(.btn--fill) {
      color: var(--neon-blue);
    }
  }

  &--purple {
    border: 1.5px solid var(--neon-purple);
    box-shadow: inset 0 0 0.5em 0 var(--neon-purple), 0 0 0.5em 0 var(--neon-purple);

    &:hover {
      box-shadow:
        inset 0 0 0.7em 0 var(--neon-purple),
        0 0 1em 0 var(--neon-purple);
    }

    &:not(.btn--fill) {
      color: var(--neon-purple);
    }
  }

   &--red {
    border: 1.5px solid var(--neon-red);
    box-shadow: inset 0 0 0.5em 0 var(--neon-red), 0 0 0.5em 0 var(--neon-red);

    &:hover {
      box-shadow:
        inset 0 0 0.7em 0 var(--neon-red),
        0 0 1em 0 var(--neon-red);
    }

    &:not(.btn--fill) {
      color: var(--neon-red);
    }
  }
}
