.chip {
  padding: 6px 8px;
  border-radius: 30px;
  color: rgb(255, 255, 255, 0.9);

  &--good {
    background: color-mix(in srgb, var(--neon-green) 40%, transparent);
  }

  &--bad {
    background: color-mix(in srgb, var(--neon-red) 40%, transparent);
  }
}
