.chip {
  display: flex;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 30px;
  color: rgb(255, 255, 255, 0.9);
  background: #1a1a1a;

  &--good {
    background: color-mix(in srgb, var(--neon-green) 75%, transparent);
  }

  &--bad {
    background: color-mix(in srgb, var(--neon-red) 75%, transparent);
  }
}
