.divider {
  width: 96%;
  height: 1.3px;
  border-radius: 9px;
  margin: 1rem auto;
  opacity: 0.5;

  &__blue {
    background-color: var(--neon-blue);
  }

  &__green {
    background-color: var(--neon-green);
  }

  &__purple {
    background-color: var(--neon-purple);
  }
}
