.aliases-input {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 12px;

  button {
    width: 60px;
    display: flex;
    justify-content: center;
  }
}

.aliases-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6b7280;
    transition: color 0.3s;
    font-weight: 500;

    &:hover {
      color: var(--neon-red);
    }

    lucide-icon {
      width: 20px;
    }
  }
}
