
@mixin centerPosition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin highContainerStyles {
  padding: 1rem;
  margin: 0 8rem;

  @include respond(tab-port) {
    margin: 0 1rem;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone { // 600
    @media (max-width: 37.5em) { @content };
  }
  @if $breakpoint == tab-port { // 901.6px
    @media (max-width: 56.35em) { @content };
  }
  @if $breakpoint == tab-land { // 1200
    @media (max-width: 75em) { @content };
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) { @content };
  }
}
