
.item {
  position: relative;
  width: fit-content;
  transition: transform 0.3s;

  &:hover, &:focus-visible {
    transform: translateY(-25px);
  }
}

.card {
  border-radius: 9px;
  border: none;
  // min-width: 228px;
  overflow: hidden;
  box-shadow:
    0 0 2em 0 rgba(59, 130, 246, 0.4),
    0 0 4em 0 rgba(59, 130, 246, 0.3),
    0 0 6em 0 rgba(59, 130, 246, 0.2),
    0 0 8em 0 rgba(59, 130, 246, 0.1),
    0 0 3em 0 rgba(229, 231, 235, 0.15),
    0 0 5em 0 rgba(229, 231, 235, 0.08),
    0 8px 30px rgba(0, 0, 0, 0.3);
  color: inherit;
  z-index: 2;
  cursor: pointer;


  &__content {
    padding: 1rem;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    border-radius: 0 0 9px 9px;
    height: 30%;
    min-height: min-content;
    background: rgba(9, 48, 158, 0.48);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    text-shadow: 0px 0px .5px #000;
    font-size: 1rem;

    & > * {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1px;
    }
  }

  &__info {
    .name {
      transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__stats {
    padding-top: 0.5rem;
    border-top: 1px solid var(--neon-purple);
  }
}

.card-subtitle {
  color: var(--grey);
  font-size: 0.8rem;
}

.chip {
  position: absolute;
  top: 7px;
  left: 10px;
}

