input,
button,
select,
textarea {
  font: inherit;
}

input:not([type="checkbox"], [type="radio"]) {
  width: 100%;
  border-radius: 24px;
}

.form-group {
  display: grid;
  gap: 0.7rem;
}

.form-field {
  display: grid;
  gap: 0.5rem;
  padding: 0.6rem;
}
