.footer {
  background-color: rgb(66, 2, 66, 0.5);

  &__wraper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
  }

  &__navigation {
    display: flex;
    gap: 1rem;
    justify-content: center;

    a {
      display: grid;
      justify-items: center;
    }
  }

  &__copyright {
    margin: 0 auto;
  }
}


