
:host {
  padding: 1.5rem;
}

.manage-hero {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__container {
    display: flex;
    outline: 1px solid grey;

    & > :nth-child(1),
    & > :nth-child(2) {
      flex: 0 0 50%;
      padding: 2rem;
    }
  }
}

.actions {
  padding: 1.5rem;
  display: flex;
  justify-content: end;
  gap: 4rem;

  &__save, &__remove {
    padding: 12px 16px;
  }
}

.biography, .name, .image {
  margin-bottom: 14px;
  padding: 16px 12px;
  background: rgba(143, 163, 168, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(143, 163, 168, 0.05);
}

input {
  padding: 0.7rem 0.9rem;
  border: 2.2px solid var(--neon-green);
  box-shadow: inset 0 0 3px rgba(111, 207, 191, 0.35);

  &:focus, &:focus-visible {
    background: var(--neon-green);
    border: 2.2px solid var(--neon-green);
    outline: none;
  }
}

label {
  margin-left: 0.65rem;
}
