@use 'abstracts' as *;

.header {
  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include highContainerStyles();
  }

  &__logo {

  }

  &__auth {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.user {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--bg-color);
  border: 1px solid #3a3c44;
  border-radius: 0.75rem;

  &__logo {
    height: 2.8rem;
    width: 2.8rem;
    background-color: #18274d;
    border-radius: 30px;
    position: relative;

    span {
      @include centerPosition();
      color: #7aa4ff;
      font-weight: 600;
    }
  }
}





