
@use './styles/components';
@use './styles/abstracts';
@use './styles/layout';
@use './styles/form';

:root {
  --green: #00ff9d;
  --neon-purple: #9333ea;
  --neon-blue: #1E90FF;
  --neon-green: #6fcfbf;
  --neon-red: #ff3366;
  --grey: #6B7280;
  --page-background: oklch(.12 .01 265);
  --bg-color: #0e1218;
  --bg-color-2: #1a1a1a;
  --bg-color-3: #2a2a2a;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI',  Cantarell, sans-serif;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--page-background);
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

lucide-icon {
  display: flex;
  align-items: center;
}

a {
  color: unset;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a;
}

.cdk-overlay-container {
  backdrop-filter: blur(6px);
}
