
@use './styles/components';
@use './styles/abstracts';
@use './styles/layout';
@use './styles/form';

:root {
  --neon-purple: #9333ea;
  --neon-blue: #1E90FF;
  --neon-green: #6fcfbf;
  --neon-red: #ff3366;

  --bg-color-2: #0e1218;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.4rem;
  // color: #fff;
  color: black;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

lucide-icon {
  display: flex;
  align-items: center;
}
