@use 'abstracts/mixins' as *;

.heroes {
  &__header {
    display: flex;
    flex-direction: column;

    > :first-child {
      margin: 1rem auto;
    }
  }

  &__wrapper {
    @include highContainerStyles();
    padding-top: .8rem;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  &__search {
    position: relative;
    width: 50%;

    label {
      display: block;
      height: 0;
      opacity: 0;
    }

    .search-icon {
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translate(50%, -50%);
    }
  }
}

.heroes-grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;

  @include respond(phone) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(tab-port) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond(big-desktop) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.search-box {
  width: 100%;
  padding: 10px 20px;
  background-color: var(--bg-color-2);
  border: 1px solid #3a3c44;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  transition: outline 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-visible {
    outline: 4px solid var(--neon-blue);
  }
}


.edit-link {
  position: absolute;
  right: 6px;
  top: 6px;
  border-radius: 100%;
  padding: 6px;
  background-color: var(--neon-purple);
  transition: transform 0.3s;
  z-index: 3;

  &:hover, &:focus-visible {
    transform: translateY(-10px);
  }

  &::ng-deep svg {
    width: 14px;
    height: 14px;
    display: block;
    color: #d9d7d7;
  }
}

